WeighPig/WeighPig/obj/Debug/WeighPig.pdb
WeighPig/WeighPig/obj/Debug/WeighPig.exe
WeighPig/WeighPig/obj/Debug/WeighPig.csprojAssemblyReference.cache
WeighPig/WeighPig/obj/Debug/WeighPig.csproj.GenerateResource.cache
WeighPig/WeighPig/obj/Debug/WeighPig.csproj.FileListAbsolute.txt
WeighPig/WeighPig/obj/Debug/WeighPig.csproj.CoreCompileInputs.cache
WeighPig/WeighPig/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
